   body {
        background-color: #8a6b26;
        }
        .dropbtn {
          background-color: rgb(81, 133, 36);
          color: rgb(31, 29, 29);
          padding: 6px;
          font-size: 16px;
          border-radius: 6px; 
          border: none;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #b17541;
          min-width: 120px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 1px 1px; 
          text-decoration: none;
          display: block;
        } 
        .hogstaraden {
          position: relative;
          display: inline;
        }
        
        .dropdown-content a:hover {background-color: rgb(207, 126, 27);} 
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #3ca23f;}

        input[type=range] {
          /*removes default webkit styles*/
          -webkit-appearance: none;
          
          /*fix for FF unable to apply focus style bug */
          border: 1px solid rgb(124, 71, 71);
          
          /*required for proper track sizing in FF*/
          width: 300px;
      }
      input[type=range]::-webkit-slider-runnable-track {
          width: 300px;
          height: 5px;
          background: rgb(72, 37, 6);
          border: none;
          border-radius: 3px;
      }
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: goldenrod;
          margin-top: -4px;
      }
      input[type=range]:focus {
          outline: none;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
          background: rgb(185, 96, 96);
      }
      
      input[type=range]::-moz-range-track {
          width: 300px;
          height: 5px;
          background: rgb(153, 78, 78);
          border: none;
          border-radius: 3px;
      }
      input[type=range]::-moz-range-thumb {
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: goldenrod;
      }
      
      /*hide the outline behind the border*/
      input[type=range]:-moz-focusring{
          outline: 1px solid rgb(168, 97, 97);
          outline-offset: -1px;
      }
      
      input[type=range]::-ms-track {
          width: 300px;
          height: 5px;
          
          /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
          background: transparent;
          
          /*leave room for the larger thumb to overflow with a transparent border */
          border-color: transparent;
          border-width: 6px 0;
      
          /*remove default tick marks*/
          color: transparent;
      }
      input[type=range]::-ms-fill-lower {
          background: #777;
          border-radius: 10px;
      }
      input[type=range]::-ms-fill-upper {
          background: rgb(180, 145, 114);
          border-radius: 10px;
      }
      input[type=range]::-ms-thumb {
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: goldenrod;
      }
      input[type=range]:focus::-ms-fill-lower {
          background: #888;
      }
      input[type=range]:focus::-ms-fill-upper {
          background: rgb(126, 103, 77);
      }